---
layout: default
---

<div class="list-group">
  {% for post in paginator.posts %}
    <div class="list-group-item">
      <a href="{{ post.url }}">
        <h4 class="list-group-item-heading h6 mb-0">{{ post.title }}
          <small class="text-muted float-right mt-1">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b. %d, %Y' }}</time>
          </small>
        </h4>
      </a>

      {% if post.category.size > 0 %}
        <div class="post-meta post-cats">
          {% for category in post.category %}
            <a href="{{ site.baseurl }}/category/{{ category }}" class="badge badge-info">{{ category | replace: '-', ' ' | capitalize }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% include pagination.html %}