<header id="masthead" class="site-header navbar navbar-expand navbar-dark flex-column flex-md-row">
  <div class="container">
    <a href="/" class="navbar-brand mr-0 mr-md-4">{{ site.title | default: site.github.repository_name }}</a>

    <nav class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/getting-started/" class="nav-link">Getting Started</a>
        </li>
      </ul>
    </nav>

    <div class="ml-md-auto">
      <form action="{{ site.baseurl }}/search/" method="get" class="p-0">
        <div class="input-group">
          <input type="text" id="search" name="q" class="form-control">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
    </div>
  <div>
</header>

<div class="instance-search-results">
  <div id="search-results" class="inner"></div>
</div>
