---
---

@import "{{ site.theme }}";

form {
	background: transparent;
	padding: 0;
}

#main_content_wrap {
	padding-top: 30px;
	padding-bottom: 30px;
}

.instance-search-results {
	background: #f2f2f2;

	.inner {
		padding-top: 0;
		padding-bottom: 0;
	}

	.result {
		margin: 10px 0;
	}

	.post-date {
		text-transform: capitalize;
	}
}

