<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>

  <body>

    <!-- HEADER -->
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <article>
          <h1 class="post-title">{{ page.title }}</h2>

          {% if page.category.size > 0 %}
            <div class="post-meta post-cats">
              <span>Category: </span>
              {% for post_cat in page.category %}
                <a href="{{ site.baseurl }}/category/{{ post_cat }}">{{ post_cat | replace: '-', ' ' | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          <div class="post-content">
            {{ content }}
          </div>

          {% if page.tags.size > 0 %}
            <div class="post-meta post-tags">
              <span>Tags: </span>
              {% for post_tag in page.tags %}
                <a href="{{ site.baseurl }}/tag/{{ post_tag }}">{{ post_tag | replace: '-', ' ' }}</a>{% if forloop.last == false %}, {% endif %}
              {% endfor %}
            </div>
          {% endif %}

        </article>
      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}
  </body>
</html>
